<%= form_for(@user_weight) do |f| %>
  <% if @user_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_weight.errors.count, "error") %> prohibited this user_weight from being saved:</h2>

      <ul>
      <% @user_weight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
