<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Sets count:</strong>
  <%= @exercise.sets_count %>
</p>

<p>
  <strong>Rep goal:</strong>
  <%= @exercise.rep_goal %>
</p>

<p>
  <strong>Rep results:</strong>
  <%= @exercise.rep_results %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
