<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @workout.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @workout.end_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
