<p id="notice"><%= notice %></p>

<h1>Listing Exercise Sets</h1>

<table>
  <thead>
    <tr>
      <th>Target reps</th>
      <th>Achieved reps</th>
      <th>Weight</th>
      <th>Rest period seconds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_sets.each do |exercise_set| %>
      <tr>
        <td><%= exercise_set.target_reps %></td>
        <td><%= exercise_set.achieved_reps %></td>
        <td><%= exercise_set.weight %></td>
        <td><%= exercise_set.rest_period_seconds %></td>
        <td><%= link_to 'Show', exercise_set %></td>
        <td><%= link_to 'Edit', edit_exercise_set_path(exercise_set) %></td>
        <td><%= link_to 'Destroy', exercise_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise set', new_exercise_set_path %>
