<p id="notice"><%= notice %></p>

<p>
  <strong>Target reps:</strong>
  <%= @exercise_set.target_reps %>
</p>

<p>
  <strong>Achieved reps:</strong>
  <%= @exercise_set.achieved_reps %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @exercise_set.weight %>
</p>

<p>
  <strong>Rest period seconds:</strong>
  <%= @exercise_set.rest_period_seconds %>
</p>

<%= link_to 'Edit', edit_exercise_set_path(@exercise_set) %> |
<%= link_to 'Back', exercise_sets_path %>
